body, html{
	background-color: white;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px
}
ul, li, ol{
	list-style: none;
}
ul{
	padding: 0;
}
div.jelenlegi{
	float: left;
	width: 70vw;
}
div.lista{
	float: right;
	width: calc(30vw - 4px);
	margin: auto;
	height: 100vh;
}
li{
	min-height: 120px;
	transition: 300ms;
	padding: 16px;
	margin: 0;
	cursor: pointer;
}
li:hover{
	background-color: rgba(0,0,0,0.1)
}
div.cim{
	font-size: 1.6em;
}
div.iro{
	font-size: 1.2em;
	margin-left: 12px;
}
div.iro::before{
	content: "Ãrta: ";
}
p.tartalom{
	padding: 0 16px;
}
span{
	font-size: 1.2em;
}
span::after{
	content: " ";
	width: 100%;
	height: 1px;
	background-color: grey;
	display: block;
}
div.kep{
	background-image: url("http://www.e-kepeslap.com/kepek/kepeslapok/hatterkepek/allatok-rovarok/2471-katicabogar.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: 0 60%;
	position: relative;
}
header{
	position: absolute;
	top: 16px;
	left: 16px;
}
div.komment > div.form{
	text-align: center;
	height: 80px;
	line-height: 80px;
	
}